<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Summarizer</title>

    <style>
        body {
           font-family: 'Arial', sans-serif;
           background-color: #123456;
       }

       h1 {
            color: #ffffff;
           
        }
    </style>
</head>
<body>
    <h1>YouTube Summarizer</h1>
    <form method="post">
        {% csrf_token %}
        <label for="youtube_url">Enter YouTube URL:</label><br>
        <input type="text" id="youtube_url" name="youtube_url"><br><br>
        <button type="submit">Generate Notes</button>
    </form>
    {% if video %}
        <h2>Generated Notes:</h2>
        <p>{{ video.summarized_text }}</p>
    {% endif %}
</body>
</html>
